.race-button,
.reset-button,
.generate-button,
.update-button,
.create-button,
.select-button,
.garage-button,
.winners-button,
.select-item,
.remove-item,
.race,
.stop {
  cursor: pointer;
  border: none;
  background-color: #efefef;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #000000;

  &:hover {
    box-shadow: 0 0 10px #585353;
  }
}
