.view-list {
  overflow-x: hidden;
}

.view-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 2px solid black;

  & .control-car-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & button {
    max-width: 150px;
    width: 100%;
  }
}

svg {
  position: relative;
  top: 40px;
  width: 110px;
  height: 110px;
}
