.car-race {
  animation-name: race;
  animation-delay: 1.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes race {
  from {
    left: 0;
  }

  to {
    left: 90vw;
  }
}
